element.style {
	user-select: text;
}

.container {
	max-width: 100%;
	max-height: auto;
}

@media screen and (min-width: 768px) {
}

.jumbotron .h1 h1 {
	font-size: 63px;
	color: inherit;
}

#Norman {
	font-size: 63px;
}

.prettycaption {
	background-color: white;
	max-width: 100%;
	display: block;
	padding: 4px;
}	


.text-center {
	text-align: center;
}

h1 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
}

img {
	max-width: 100%;
	height: auto;
}

h1 {
	margin: .67em 0;
	display: block;
	-webkit-margin-before: .67em;
	-webkit-margin-after: .67em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}


h2 {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 30px;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
	display: block;
	-webkit-margin-before: .83em;
	-webkit-margin-after: .83em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	text-align: center;
}

* {
	box-sizing: border-box;
}

.jumbotron {
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 30px;
}


body {
	line-height: 1.42857143;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #333;
	background-color: #fff;
}

html {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}