img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: auto;
}

#big-header {
	font-size: 63px;
	font-style: normal;
}

.text-center {
	text-align: center;
}

.container {
	background-color: #e1e1e1;
	margin-top: 60px;
}

.thumbnail {
	background-color: white;
	padding: 3px 3px 1px 3px;
}

.caption {
	text-align: center;
}

.jumbotron {
	
}